[Unit]
Description=Ip

[Service]
User=core
ExecStart=/bin/podman run --rm -p 10080:80 -p 10443:443 -v /etc/krkstops/certs:/etc/ip:ro --env-file /etc/ip/.env docker.io/narciarz96/ip
Restart=always

[Install]
WantedBy=multi-user.target